{% extends 'base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logo">
        <img src="{% static 'images/tatzo5.png' %}" alt="Tatzo">
    </div>
    <h1>Добро пожаловать</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required>
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
    <div class="links">
        <a href="{% url 'signup' %}">Создать аккаунт</a>
        <a href="{% url 'password_reset' %}" class="small-link">Забыли пароль?</a>
    </div>
</div>

{% if form.non_field_errors %}
    <div class="errors">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}
