{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<!-- Загружаем тег static -->
{% load static %}
 <!-- Подключаем стили для страницы логина -->
 <link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-container">
    <div class="logo">Tatzo</div>
    <h1>Добро пожаловать</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required>
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
    <div class="links">
        <a href="{% url 'signup' %}">Создать аккаунт</a>
        <a href="{% url 'password_reset' %}" class="small-link">Забыли пароль?</a>
    </div>
</div>

{% if form.errors %}
    <div class="errors">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock %}
