{% extends 'base.html' %}
{% load static %}

{% block title %}Contests{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="page-container">
    <h1 style="color: #ee0c6f;">🏆 Конкурсы тату-мастеров</h1>
    <p style="color: #04c5bf;">Здесь в будущем будут показаны:
        <ul style="color: white;">
            <li>⚔️ Активные соревнования между мастерами</li>
            <li>🗳️ Голосование пользователей</li>
            <li>👑 Победители и награды</li>
        </ul>
    </p>
</div>
{% endblock %}
