{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Contests" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% include "partials/sidebar.html" %}

<div class="page-container">
  <h1 style="color: #ee0c6f;">
    🏆 {% trans "Tattoo artist contests" %}
  </h1>

  <div style="color: #04c5bf;">
    <p>{% trans "Here you will soon find:" %}</p>

    <ul style="color: white;">
      <li>⚔️ {% trans "Active competitions between artists" %}</li>
      <li>🗳️ {% trans "User voting" %}</li>
      <li>👑 {% trans "Winners and rewards" %}</li>
    </ul>
  </div>
</div>
{% endblock %}