{% extends 'base.html' %}
{% load static %}

{% block title %}Восстановление пароля — Tatzo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="reset-container">
  <div class="logo">
    <img src="{% static 'images/tatzo5.png' %}" alt="Tatzo" style="width: 180px;">
</div>
  <h2>Восстановление пароля</h2>
  <p class="instructions">Введите ваш email, и мы пришлём ссылку для сброса пароля.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Введите ваш email" required>
    </div>
    <button type="submit" class="btn">Отправить ссылку</button>
</form>

</div>
{% endblock %}
