{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
<head>
    <title>{% trans "Profile form" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
</head>
<body>
    <div class="navigation">
        <a href="{% url 'home' %}" class="btn">{% trans "Home" %}</a>
    </div>
    
    <h1>{% trans "Profile form" %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Save" %}</button>
    </form>
</body>
</html>