{% extends "base.html" %}

{% block content %}

<div class="feed-container">

    <!-- Создание поста -->
    <div class="create-post">
        <form method="POST" enctype="multipart/form-data" action="{% url 'create_post' %}">
            {% csrf_token %}

            {{ post_form.content }}

            <input type="file" name="media" multiple>

            <button type="submit">Post</button>
        </form>
    </div>

    <hr>

</div>
<div id="feed" class="feed">
  {% for post in posts %}
    {% include "partials/post_card.html" with post=post %}
  {% endfor %}
</div>
{% endblock %}